body {
  overflow-x: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --input-border-light: #ffffff;
  --border-radius-md: 10px;
  --primary-accent: #ffffff;

}


a {
  text-decoration: none !important;
}

a:hover {
  color: black;
}

.theme-color {
  color: #ff4f29 !important;
}

.w-center {
  text-align: -webkit-center;
}

.theme-bg-color {
  background-color: #ff4f29 !important;
}

.cs-fs-13 {
  font-size: 13px !important;
}

.cs-fs-14 {
  font-size: 14px !important;
}

.cs-fs-15 {
  font-size: 15px !important;
}

.list-box-sidebar {
  height: 78%;
  overflow-y: scroll;
}

.main-box-sidebar {
  border: 1px ridge #eeeeee;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}

.sidebar-list {
  color: black;
  border-bottom: 1px ridge #eeeeee;
  border-radius: 3px;
}

.sidebar-list:last-child {
  border-bottom: none !important;
}

.active-sidebar-list {
  background-color: #ff4f29 !important;
  border-radius: 3px;
  color: white !important;
  margin-right: 0.2rem;
  transition: 0.3s;
}

.list-box-sidebar::-webkit-scrollbar {
  display: none;
}

.header-sec {
  border-bottom: 1px ridge rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.box-pr-user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ff4f29;
  padding: 3% 3%;
}

.cs-li-color {
  color: gray;
}

.w-right {
  text-align: -webkit-right !important;
}

.cs-bg {
  background: linear-gradient(to left, #ff5d28c0, #fc53538b);
}

.cs-b-1 {
  border: 1px ridge #eeeeee;
}

.form-control-custom {
  width: 100%;
  font-size: 0.9rem;
  padding: 8px;
  line-height: 1.5;
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius-md);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-custom:focus {
  outline: 0;
  box-shadow: rgba(255, 255, 255, 0.19) 0px 10px 20px, rgba(255, 255, 255, 0.23) 0px 7px 7px;
}

.p-right-main-box {
  padding-right: 1rem;
}