body {
  overflow-x: hidden;
}

.tick-icon svg {
  cursor: pointer;
  transition: 0.2s;
  padding: 7px 7px; 
  border-radius: 50%;
}

.tick-icon svg:hover {
box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
background-color: white;
}

.top-header-form {
  text-align: -webkit-center !important;
}


.true-work{
  background-color: rgba(0, 255, 0, 0.422);
}
.false-work{
  background-color: rgba(255, 0, 0, 0.434);
}